.statusMain {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c2e35;
  width: 120px;
  border-radius: 18px;
  padding: 6px 10px;
  border: 2px #575757 solid;
}

.statusImg {
  margin-right: 8px;
}

.statusMsg {
  font-size: 1.2rem;
  font-weight: bold;
}